{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{movie.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Year">Movie Year</label>
            <input id="Year" type="text" class="form-control" placeholder="Movie Year" name="Year" value="{{movie.Year}}">
        </div>
        <div class="col">
            <label for="Score">Movie Score</label>
            <input id="Score" type="text" class="form-control" placeholder="Movie Score"
                   name="Score" value="{{movie.Score}}">
        </div>
        <div class="col">
            <label for="Title">Movie Title</label>
            <input id="Title" type="text" class="form-control" placeholder="Movie Title" name="Title" value="{{movie.Title}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Column_4">Movie Column_4</label>
            <input id="Column_4" type="text" class="form-control" placeholder="Movie Column_4" name="Column_4" value="{{movie.Column_4}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}