<!doctype html>
<html>

  <head>
    <title>Deniro Movie Site</title>
    <meta charset="utf-8">
    <meta name="description" content="Deniro Movie score.">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/static/css/home.css') }}" rel="stylesheet">
  </head>

  <body>
    <header>
       <nav>
        <a href="https://deniromovies.com">Link 1</a>
        <a href="https://deniromoviescore.com">Link 2</a>
        <a href="https://alldeniromovies.com">Link 3</a>
      </nav>
    </header>
    <div class="container">
        <h1>Deniro Movie Site</h1>
        <p>Deniro Movie score.</p>
    </div>
  </body>

</html>
